$font-stack:    Roboto, sans-serif;
$font-test:    Srisakdi, serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  font: 100% $font-test;
  color: $primary-color;
}

h2 {
  font: 100% Arial;
  color: green;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.box { @include transform(rotate(30deg)); }

/* This CSS will print because %message-shared is extended. */
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

// This CSS won't print because %equal-heights is never extended.
%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

.error {
  @extend %message-shared;
  border-color: red;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}

.container {
  width: 100%;
}

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}


.title {
  font-family: Arial, cursive;
  font-size: 3em;
}
table {
  border: 2px solid #000;

  width: 50%;
}

th, td {
  border: solid 1px grey;
  text-align: center;
  white-space: nowrap;
  padding: 4px;
}


th {
  background-color:darkgrey;
}


td {
  background-color:lightgrey;
}

#main {
  background-image: linear-gradient(red, white, blue);
}
