.title {
  font-family: Arial, cursive;
  font-size: 3em;
}
table {
  border: 2px solid #000;

  width: 50%;
}

th, td {
  border: solid 1px grey;
  text-align: center;
  white-space: nowrap;
  padding: 4px;
}


th {
  background-color:darkgrey;
}


td {
  background-color:lightgrey;
}

#main {
  background-image: linear-gradient(red, white, blue);
}
